.App {
    text-align: center;
    width: 100%;
}

.App-header {
    position: relative;
    background-color: #0d2d6d;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 5px;
    width: 100%;
}
.navLinks {
    text-decoration: none;
    color: white;
}
.navLinks:hover {
    color: #d6e4ff;
    border: solid;
    padding-inline: 2px;
}
.loading {
    display: grid;
    align-content: center;
    height: 100vh;
    color: #0d2d6d;
    font-size: xx-large;
}
.loading i {
    animation-name: spin;
    animation-duration: 500ms;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading span {
    font-size: large;
}
.body {
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    text-align: center;
    margin-inline: auto;
}
.body .items {
    position: relative;
    display: grid;
    gap: 1rem;
    margin-inline: auto;
    justify-content: center;
    text-align: center;
    box-shadow: 1px 1px 50% #0d2d6d;
}
@media screen and (min-width: 500px) {
    .body .items {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 800px) {
    .body .items {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1100px) {
    .body .items {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.items li {
    list-style-type: none;
}
.itemCard {
    position: relative;
    padding: 5px;
    box-shadow: 1px 1px 6px #0d2d6d;
    border-radius: 5%;
}
.itemImage {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 15rem;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
}
.itemImage:hover {
    scale: 110%;
    transition: all;
    transition-duration: 500ms;
}
.imageSlider {
    position: relative;
}
.imagesButtons {
    position: absolute;
    display: flex;
    height: fit-content;
    inset: 0;
    align-items: center;
    justify-content: space-between;
    margin-block: 50%;
}
.imagesButtons i:hover {
    cursor: pointer;
    background-color: #2865dd;
}
.imagesButtons i {
    padding: 3px;
    background-color: #0d2d6d;
    color: white;
    border-radius: 5%;
}
.itemCard .itemTitle {
    font-size: large;
    font-weight: bold;
    text-align: start;
    color: #0d2d6d;
}
.itemCard .itemTitle:hover {
    cursor: pointer;
    color: #2865dd;
    text-decoration: underline;
}
.itemCard .itemDesc {
    text-align: justify;
    text-justify: inter-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.itemCard .itemPrice {
    margin-block: 0.5rem;
    font-size: larger;
    font-weight: bold;
    color: #2865dd;
    text-align: right;
}
.itemCard .itemButtons {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.itemCard .itemButtons button {
    color: white;
    background-color: #0d2d6d;
    border: none;
    padding-block: 4px;
    padding-inline: 10px;
    border-radius: 30px;
    box-shadow: 1px 1px 5px #2865dd;
}
.itemCard .itemButtons button:hover {
    background-color: #2865dd;
    box-shadow: 1px 1px 10px #2865dd;
    cursor: pointer;
}
.itemCard .itemButtons button:first-child {
    color: #0d2d6d;
    background-color: white;
    border: solid;
    border-width: 1px;
}
.itemCard .itemButtons button:first-child:hover {
    color: white;
    background-color: #0d2d6d;
    box-shadow: 1px 1px 10px #0d2d6d;
    cursor: pointer;
}
